Questions on String

Let's take the following string

"I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

In [9]:
s="I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

In [12]:
# 1)Consider the above text as a string, figure out the average length of the string.
words = s.split()
#print(words)
wordCount = len(words)
#print(wordCount)
sum = 0
for word in words:
    ch = len(word)
    sum = sum + ch
    avg = sum / wordCount
print(avg)

4.2063492063492065

In [3]:
# 2)Lower the text in the string.
r=s.lower()
print(r)

i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [25]:
# 3)Try to get the clean text removing the punctuation from the string.
# Methood 1 : Regex
# Remove the special charaters from the read string.
import re
no_specials_string = re.sub('[!#?,.:";]', '', s)
print(no_specials_string) 
# Methood 2 : translate()
# Rake translator object
#translator = str.maketrans('', '', string.punctuation)
#data = data.translate(translator)
#print(data)

I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [ ]:
# 4)Extract word "Data Science" from the string.

In [69]:
# 5)Find the frequency of words used in the string.
#from collections import Counter
#res = Counter(s)
#print(res)
t=s.split()
wordfreq = []
for w in t:
    wordfreq.append(t.count(w))
p=list(set(list(zip(t,wordfreq))))
print(p)

[('make', 1), ('career', 1), ('from', 1), ('very', 1), ('up', 1), ('has', 1), ('qualms', 1), ('my', 2), ('sure', 1), ('to', 3), ('articles,', 1), ('confused,', 1), ('platform', 1), ('which', 1), ('keen', 1), ('Data', 1), ('good', 1), ('of', 1), ('building', 1), ('same', 1), ('Supervised', 1), ('come', 1), ('I', 3), ('again', 1), ('mind', 1), ('few', 1), ('the', 2), ('others', 1), ('start.', 1), ('remove', 1), ('thousands', 1), ('Science,', 1), ('a', 1), ('where', 1), ('around', 1), ('such', 1), ('in', 3), ('If', 1), ('not', 1), ('page.', 1), ('were', 1), ('provided', 1), ('all', 1), ('throws', 1), ('wrangling', 1), ('web', 1), ('am', 1), ('it', 1), ('relevant', 1), ('but', 1), ('me', 3), ('are', 1), ('search', 1)]

In [23]:
from collections import Counter
t=s.split()
counts = Counter(t)
print(counts)

Counter({'I': 3, 'in': 3, 'to': 3, 'me': 3, 'my': 2, 'the': 2, 'am': 1, 'very': 1, 'keen': 1, 'building': 1, 'up': 1, 'career': 1, 'Data': 1, 'Science,': 1, 'but': 1, 'not': 1, 'sure': 1, 'from': 1, 'where': 1, 'start.': 1, 'If': 1, 'search': 1, 'web': 1, 'it': 1, 'throws': 1, 'thousands': 1, 'of': 1, 'articles,': 1, 'few': 1, 'are': 1, 'relevant': 1, 'others': 1, 'make': 1, 'confused,': 1, 'again': 1, 'come': 1, 'around': 1, 'same': 1, 'page.': 1, 'Supervised': 1, 'has': 1, 'provided': 1, 'a': 1, 'good': 1, 'platform': 1, 'remove': 1, 'all': 1, 'such': 1, 'qualms': 1, 'which': 1, 'were': 1, 'wrangling': 1, 'mind': 1})

In [77]:
# 6)Fetch the duplicate pairs used in the string.
# First Approach, taking help from Above 
for k,v in sorted(p):
    if v>1:
        print(list(zip([k],[v])))

[('I', 3)]
[('in', 3)]
[('me', 3)]
[('my', 2)]
[('the', 2)]
[('to', 3)]

In [65]:
# Second Approach
import collections
words = s.split()
word_counts = collections.Counter(words)
l2=[]
for word, count in sorted(word_counts.items()):    #for word,count in sorted(counts):  as from above
    if count>1:
        print(list(zip([word],[count])))

[('I', 3)]
[('in', 3)]
[('me', 3)]
[('my', 2)]
[('the', 2)]
[('to', 3)]

In [48]:
# 7)Can you change the word "Supervised" to "Unsupervised" in the string
y=s.replace('Supervised','Unsupervised')
print(y)

I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [78]:
# 8)Splitting of the string with a dot operator(.)
j=s.split(".")
print(j)

['I am very keen in building up my career in Data Science, but not sure from where to start', ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page', ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [37]:
# 9)Find the words from the string which ends with "e"
t=s.split()
l2=[]
for i in t:
    if (i.endswith('e')):
        l2.append(i)
print(l2)

['sure', 'where', 'the', 'me', 'are', 'make', 'me', 'come', 'the', 'same', 'me', 'remove', 'were']

In [28]:
# 10)Figure out number of a's used in the string. 
from collections import Counter
res = Counter(s)
print(res['a'])

22

Questions on Dictionary

In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.

In [29]:
# 1)Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.
d1={'apple':250,'sugar':500,'rice':2.5,'milk':2.5,'eggs':12}

In [30]:
# 2)I forgot to mention another item, 1kg of atta packet. Can you also add it ?
d1['Atta']=1
print(d1)

{'apple': 250, 'sugar': 500, 'rice': 2.5, 'milk': 2.5, 'eggs': 12, 'Atta': 1}

In [32]:
# 3)Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?
d1['rice']=1
print(d1)

{'apple': 250, 'sugar': 500, 'rice': 1, 'milk': 2.5, 'eggs': 12, 'Atta': 1}

In [34]:
# 4)Can you list out all these items using a loop.
for i in d1.items():
    print(i)

('apple', 250)
('sugar', 500)
('rice', 1)
('milk', 2.5)
('eggs', 12)
('Atta', 1)

However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.

In [104]:
#Create another dictionary for pricing.
Price_Per_Unit={'apple':220,'sugar':43,'rice':45,'milk':30,'eggs':60}

In [107]:
#Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !
Num_of_Units={'apple':0.25,'sugar':0.5,'rice':1.0,'milk':2.5,'eggs':1.0}
Final_bill={k:Price_Per_Unit[k] * Num_of_Units[k] for k in Price_Per_Unit}
print(Final_bill)
l1=[Price_Per_Unit[k] * Num_of_Units[k] for k in Price_Per_Unit]
smn=0
for i in l1:
    smn+=i
print(smn)

{'apple': 55.0, 'sugar': 21.5, 'rice': 45.0, 'milk': 75.0, 'eggs': 60.0}
256.5

Questions on List

In [120]:
AI_companies=['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']

In [121]:
#Sort the list in ascending order
sorted(AI_companies)

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [122]:
#Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list
AI_companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
print(AI_companies)

['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

In [123]:
#Lower the list using List comprehension
new=[f.lower() for f in AI_companies]
print(new)

['amazon', 'facebook', 'hisilicon', 'google', 'apple', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm', 'reliance']

In [124]:
#Elimiate 'Reliance' from the list
AI_companies.remove('Reliance')
print(AI_companies)

['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm']

In [140]:
#Extract 'Facebook', 'Google' and 'Microsoft' using a single command
AI_companies[1:7:2]

['Facebook', 'Google', 'Microsoft']

Questions on Tuple

In [151]:
#Consider the above standard price problem statement and place the prices in the form of the tuple
#print(Final_bill)
#print(Price_Per_Unit)
l2=[(k,v) for k,v in Price_Per_Unit.items()]
Price_tup=tuple(l2)
print(Price_tup)
#'apple':220,'sugar':43,'rice':45,'milk':30,'eggs':60
l3=[220,43,45,30,60]
Only_pice_tup=tuple(l3)

(('apple', 220), ('sugar', 43), ('rice', 45), ('milk', 30), ('eggs', 60))

In [153]:
#Find out the min and max price among them.
mx=max(Only_pice_tup)
print(mx)
mn=min(Only_pice_tup)
print(mn)

220
30

In [149]:
#Also, convert the above "AI_companies" list to a tuple.
AI_tuple=tuple(AI_companies)
print(AI_tuple)

('Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm')

In [154]:
#Combine two above tuples to a single tuple.
x= AI_tuple + Only_pice_tup
print(x)

('Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 220, 43, 45, 30, 60)

In [165]:
#Compare the length of two tuples.
def cmp(a, b):
    return (a > b) - (a < b)
a=len(AI_tuple)
b=len(Only_pice_tup)
cmp(5,6)

-1